@import url('./theme-switch/index.css');

/* 自定义侧边栏 Link 样式 */

.sidebar ul li .sidebar-link {
  display: flex;
}
.sidebar ul li .sidebar-link img {
  margin-right: 4px;
  width: 15px;
  transform: translateY(-1px);
}

.sidebar ul li .sidebar-link-title img {
  width: 15px;
  margin-left: -17px;
  margin-right: 2px;
  transform: translateY(2px);
  padding-top: 20px;
}

/* 侧边栏扩展与折叠，优化sidebar间距 */
.sidebar .sidebar-nav {
  padding-left: 8px;
}

.sidebar li > p {
  font-weight: normal !important;
}

/* 右侧文章导航样式 toc */
.page_toc {
  font-size: 12px;
  padding-right: 18px;
}

/* 重写dark 表格样式 */
html[data-theme=dark] .markdown-section p.tip, 
html[data-theme=dark] .markdown-section tr:nth-child(2n) {
  background-color: #4a4a4a;
}
/* 重写dark sidebar 样式 */
html[data-theme=dark] .sidebar {
  border-right-color: rgb(96 97 100);
}

