/* 自定义侧边栏 Link 样式 */

.sidebar ul li .sidebar-link {
  display: flex;
}
.sidebar ul li .sidebar-link img {
  margin-right: 4px;
  width: 15px;
  transform: translateY(-1px);
}

/* 侧边栏扩展与折叠，优化sidebar间距 */
.sidebar .sidebar-nav {
  padding-left: 8px;
}