/* 自定义侧边栏 Link 样式 */

.sidebar ul li .sidebar-link {
  display: flex;
}
.sidebar ul li .sidebar-link img {
  margin-right: 4px;
  width: 15px;
  transform: translateY(-1px);
}

.sidebar ul li .sidebar-link-title img {
  width: 15px;
  margin-left: -17px;
  margin-right: 2px;
  transform: translateY(2px);
  padding-top: 20px;
}

/* 侧边栏扩展与折叠，优化sidebar间距 */
.sidebar .sidebar-nav {
  padding-left: 8px;
}

.sidebar li > p {
  font-weight: normal !important;
}

/* 右侧文章导航样式 toc */
.page_toc {
  font-size: 12px;
  padding-right: 18px;
}